/* message.css - Styles for Message.js */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.message-container {
  background-color: #2f364000;
  color: #f5f6fa;
  padding: 200px 300px;
  border-radius: 12px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  background-image: url(C:\Users\Aravinth\Downloads\pngwing.com.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: #fbc531;
  font-size: 1.9rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  transition: 0.3s;
}

.close-button:hover {
  color: #d82b2b;
}

.message-text {
  font-size:2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 10px;
  text-shadow:
  -1px -1px 0 rgb(0, 0, 0),
   1px -1px 0 rgb(255, 0, 0),
  -1px  1px 0 rgb(255, 0, 0),
   1px  1px 0 rgb(255, 0, 0);

}

.score-text {
  font-size: 1.2rem;
  font-family: cursive;
  background-color: #353b48;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  display: inline-block;
   text-shadow:
  -1px -1px 0 rgb(255, 255, 255),
   1px -1px 0 rgb(0, 0, 0),
  -1px  1px 0 rgb(0, 0, 0),
   1px  1px 0 rgb(0, 0, 0);
}

@media (max-width: 600px) {
  .message-container {
    width: 90%;
  }
}
