.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .time-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:
  -1px -1px 0 rgb(255, 255, 255),
   1px -1px 0 rgb(255, 255, 255),
  -1px  1px 0 rgb(255, 255, 255),
   1px  1px 0 rgb(255, 255, 255);
  }
  