/* Styles for Game.js */

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  color: #f5f6fa;
  text-align: center;
  padding: 50px;
  background-image: url('Jungle.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quiz-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300%;
  max-width: 1000px;
  padding: 100px;
  border-radius: 20px;
  background-image: url('table.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.timer-container {
  flex: 5;
  text-align: center;
  padding: 2px;
  
}

.quiz-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-image-container {
  background-color: #c37404ad;
  padding: 50px;
  border-radius: 8px;
  margin-bottom: 20px;
  
}

.quiz-image-container img {
  max-width: 1000px;
  border-radius: 8px;
}

.answer-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.answer-button {
  background-color: #44bd32;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.answer-button:hover {
  background-color: #fbc531;
  transform: scale(1.05);
}

.answer-button:active {
  background-color: #e84118;
}

.score-container {
  flex: 5;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000100;
  width: 200px;

}

p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #fbc531;
}

@media (max-width: 768px) {
  .quiz-container {
    flex-direction: column;
    align-items: center;
  }

  .answer-buttons {
    flex-direction: column;
    width: 100%;
  }
}
