/* Profile.css - Styles for Profile.js */

.profile-container {
    background-color: #2f3640;
    color: #f5f6fa;
    text-align: center;
    padding: 200px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    margin: 40px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-image: url('pro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

   
  
  }
  
  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

  }
  
  .profile-icon {
    font-size: 4rem;
    color: #ffffff;
  }
  
  .profile-header h2 {
    font-family: cursive;
    font-size: 2rem;
    font-weight: bold;
      text-shadow:
  -1px -1px 0 rgb(0, 0, 0),
   1px -1px 0 rgb(0, 0, 0),
  -1px  1px 0 rgb(0, 0, 0),
   1px  1px 0 rgb(0, 0, 0);
  }
  
  .profile-header p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #dcdde1;
    font-size: 1rem;
     text-shadow:
  -1px -1px 0 rgb(0, 0, 0),
   1px -1px 0 rgb(0, 0, 0),
  -1px  1px 0 rgb(0, 0, 0),
   1px  1px 0 rgb(0, 0, 0);
  }
  
  .profile-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .stat-box {
    background-color: #353b48;
    padding: 15px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    transition: 0.3s;
  }
  
  .stat-box:hover {
    background-color: #fbc531;
    color: #2f3640;
    transform: scale(1.1);
  }
  
  .stat-icon {
    font-family: cursive;
    font-size: 2rem;
    margin-bottom: 8px;
  }
  
  h3 {
    font-family: cursive;
    font-size: 1.5rem;
    margin-top: 5px;
  }
  .logout-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .logout-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ff6347; /* Tomoto color */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
     text-shadow:
  -1px -1px 0 rgb(0, 0, 0),
   1px -1px 0 rgb(0, 0, 0),
  -1px  1px 0 rgb(0, 0, 0),
   1px  1px 0 rgb(0, 0, 0);
  }
  
  .logout-button:hover {
    background-color: #ff4500; /* Darker tomato color */
  }
  
  .logout-icon {
    margin-right: 8px;
  }
  
  
  @media (max-width: 600px) {
    .profile-container {
      width: 90%;
    }
  
    .profile-stats {
      flex-direction: column;
      gap: 10px;
    }
  
    .stat-box {
      width: 100%;
    }
  }
  