/* Styles for Auth.js */

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  background-image: url('Jungle.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auth-box {
  
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 0px 10px rgba(61, 63, 60, 0);
  text-align: center;
  width: 320px;
  background-image: url('bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.auth-title {
  color: #ffffff;
  font-family: cursive;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-shadow:
  -1px -1px 0 rgb(0, 0, 0),
   1px -1px 0 rgb(0, 0, 0),
  -1px  1px 0 rgb(0, 0, 0),
   1px  1px 0 rgb(0, 0, 0);
}

.auth-error {
  color: #f6d012;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.auth-input {
  width: 270px;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 2px solid #000000;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
  background-color: #ffffff;
}

.auth-input:focus {
  border-color: #44bd32;
}

.auth-button {
  width: 70%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #44bd32;
  border-color: #000000;
  border: none;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-shadow:
  -1px -1px 0 rgb(0, 0, 0),
   1px -1px 0 rgb(0, 0, 0),
  -1px  1px 0 rgb(0, 0, 0),
   1px  1px 0 rgb(0, 0, 0);
}

.auth-button:hover {
  background-color: #000000;
}

.auth-toggle {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.auth-toggle button {
  background: none;
  border: none;
  color: #1507d8;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.quote-container {
  background-color: #f4f4f9;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quote {
  font-size: 24px;
  font-style: italic;
  color: #555;
  margin-bottom: 10px;
  
}

.author {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 0;
}

.quote-container p {
  margin: 0;
}

.auth-toggle button:hover {
  text-decoration: underline;
}

.auth-guest {
  width: 80%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #fbc531;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-shadow:
  -1px -1px 0 rgb(0, 0, 0),
   1px -1px 0 rgb(0, 0, 0),
  -1px  1px 0 rgb(0, 0, 0),
   1px  1px 0 rgb(0, 0, 0);
}

.auth-guest:hover {
  background-color: #000000;
}
