/* Styles for Levels.js */

.levels-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2f3640;
  color: #f5f6fa;
  text-align: center;
  background-image: url('Jungle.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.title {
  font-size: 2.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #a84e12c4;
  margin-bottom: 0.5rem;
  text-shadow:
  -1px -1px 0 black,
   1px -1px 0 black,
  -1px  1px 0 black,
   1px  1px 0 black;
  
}

.subtitle {
  font-size: 1.2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #020513;
  margin-bottom: 2rem;
   text-shadow:
  -1px -1px 0 rgb(255, 255, 255),
   1px -1px 0 rgb(255, 255, 255),
  -1px  1px 0 rgb(255, 255, 255),
   1px  1px 0 rgb(255, 255, 255);
  
}

.level-buttons {
  display: flex;
  gap: 1.5rem;
}

.level-button {
  background-color: #c88b12;
  color: white;
  font-size: 1.2rem;
  font-family:cursive;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.level-button:hover {
  background-color: #000000;
  transform: scale(1.1);
}

.level-button:active {
  background-color: #e84118;
}

@media (max-width: 768px) {
  .level-buttons {
    flex-direction: column;
    gap: 1rem;
  }
}
